[submodule "External"]
	path = External
	url = git@github.com:IntelligentHome/External.git
[submodule "OneWire_driver"]
	path = OneWire_driver
	url = git@github.com:IntelligentHome/OneWire_driver.git
[submodule "Spi_driver"]
	path = Spi_driver
	url = git@github.com:IntelligentHome/Spi_driver.git
[submodule "Gpio_driver"]
	path = Gpio_driver
	url = git@github.com:IntelligentHome/Gpio_driver.git
[submodule "Nrf24l01_driver"]
	path = Nrf24l01_driver
	url = git@github.com:IntelligentHome/Nrf24l01_driver.git
[submodule "Uart_driver"]
	path = Uart_driver
	url = git@github.com:IntelligentHome/Uart_driver.git
[submodule "Console"]
	path = Console
	url = git@github.com:IntelligentHome/Console.git
[submodule "Ds18b20"]
	path = Ds18b20
	url = git@github.com:IntelligentHome/Ds18b20.git
[submodule "SettingsLoader"]
	path = SettingsLoader
	url = git@github.com:IntelligentHome/SettingsLoader.git
