[submodule "External"]
	path = External
	url = git@github.com:IntelligentHome/External.git
[submodule "OneWire_driver"]
	path = OneWire_driver
	url = git@github.com:IntelligentHome/OneWire_driver.git
[submodule "Spi_driver"]
	path = Spi_driver
	url = git@github.com:IntelligentHome/Spi_driver.git
[submodule "Gpio_driver"]
	path = Gpio_driver
	url = git@github.com:IntelligentHome/Gpio_driver.git
[submodule "Nrf24l01_driver"]
	path = Nrf24l01_driver
	url = git@github.com:IntelligentHome/Nrf24l01_driver.git
